#welcome {
    z-index: 5000;
    width: 101vw;
    height: 102vh;
    position: absolute;
    transition: opacity 1s ease-in;

    background: linear-gradient(0deg, rgb(14, 18, 26) 20%, rgb(25, 29, 56) 100%);

    transform: translate(-1% -1%);
}

.welcome-btn {
    background-color: rgb(20, 99, 151, 0.2);
    border: 2px solid rgb(136, 127, 127);
    border-radius: 10px;

    z-index: 50;
    user-select: none;

    font-size: clamp(1rem, 4vw, 2rem);

    transition: all 100ms ease-in;
}

.welcome-btn:hover {
    background-color: rgb(20, 99, 151, 0.6);
}

.welcome-header {
    z-index: 50;
    user-select: none;
    font-size: clamp(1.9rem, 8vw, 5rem);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

    color: #e6ebfd;
}

canvas {
    position: fixed;
    bottom: 0;
    right: 0;
}