.lsystem_window {
	display: flex;
}

.lsystem_generator_header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.lsystem_options_panel > div > div {
	display: flex;
	justify-content: space-between;
}

.lsystem_options_panel > div > div > label:nth-child(1) {
	margin-right: 1rem;
}

.lsystem_options_panel {
	background-color: white;
	padding: 24px;
	border-radius: 12px;
}